/* Write your CSS here! */
/* comment really? in here too? */

body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }

  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  /* Why do the padding and margins follow diffrent orders for top, bottom, right, left? */

  /* ID Selector Element */
  #mainheading {
    color: red;
 }

 /* Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css to give it a color value of green. */ /* Wow, both grey and gray are the same color: GO BRITS! */
 #testP {
    color: grey;
 }
 .funParagraph {
    color: green;
 }

